{% extends "layout.html" %}


{% block content %}
  <h3>{{title}}<small> ({{urlTitle | similarLink}})</small></h3>
  <h4>by {{ author | authorLink }}</h4>
  {% if tags.length > 0 %}
  <ul class="list-unstyled">
    {% for tag in tags %}
    <span>{{ tag | tagLink }}</span>
    {% endfor %}
  </ul>
  {% endif %}
  <hr/>
  <div class="page-body">{% autoescape false %}{{content}}{% endautoescape %}</div>
  <hr/>
  <a href="PLACEHOLDER_URL_TITLE/edit" class="btn btn-primary">edit this page</a>
  <a href="PLACEHOLDER_URL_TITLE/delete" class="btn btn-danger">delete this page</a>
{% endblock %}

